[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
Markdown = "*"
django-filter = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
python-decouple = "*"
PyJWT = "~=2.1.0"
django-cors-headers = "*"
python-dateutil = "*"
django-rest-passwordreset = "*"
pymodbus = "*"
requests = "*"

[dev-packages]
pynvim = "*"
jedi = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
