[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
python-decouple = "*"
pyjwt = "~=2.1.0"
django-cors-headers = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.9"
