// TODO: content card out of here somehow

$card-border-color: transparent;
$card-bg: $soft-green;
$btn-active-bg-tint-amount: 70%;
$btn-active-border-tint-amount: 70%;

.meter-list-card {
  border-radius: 1rem;

  .meter-list-card-content {
    height: 0px;
    max-height: 75%;
  }
}

.meter-select-search-button {
  margin-left: auto;
  .icon-button {
    color: black;
    font-size: 1.1em;
  }
}

.meter-select-footer-button {
  margin-left: auto;
  .icon-button {
    color: black;
    font-size: 1em;
  }
}

.meter-item {
  display: flex;
  align-items: center;
  background-color: $light-grey;
  padding: 5px 5px 5px 10px;
  border-radius: 20px;

  .meter-name {
    padding-left: 10px;
  }

  .meter-item-button {
    margin-left: auto;
    .icon-button {
      color: black;
      font-size: 1.1em;
    }
  }
}

.dashboard-data-visualization-card {
  border-radius: 1rem;
}

.timeframe-button {
  border-radius: 1rem;
}

.chart {
  border-radius: 1rem;
}

.chart-bg-color {
  background-color: $light-grey;
}
