$card-border-color: transparent;
$card-bg: $soft-green;

input.larger {
  width: 1rem;
  height: 1rem;
}

.date-picking-thing {
  background-color: white;
}

.data-points-container {
  height: 20vh;
  overflow: auto;
}
