.help-button {
  display: flex;
  align-items: center;
  border: none; /* Remove borders */
  background-color: transparent;
  color: white; /* White text */
  font-size: 1.3em;
  cursor: pointer; /* Mouse pointer on hover */
}

.help-button:hover {
    color: $dark-grey;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
}
