$card-border-color: transparent;
$card-bg: $soft-green;

.MM-card {
    border-radius: 1rem;
    

    .building-content{
    height: 0px;
    max-height: 75%;
    
    }
  }

  .MM-item-button{
    margin-left: auto;
    .icon-button{
      color: black;
      font-size: 1.1em;
    }


  }

  .meter-refresh-button{
    
  }

