// Variables

$body-bg: #f2f3f8;
$light-grey: #f2f2f2;
$dark-grey: #a0a0a0;
$dark-green: #004f2d;
$soft-green: #bad9bb;
$blinding-green: #d2f898;
$special-red: #ff4242;
$theme-colors: (
  "primary": $blinding-green,
  "secondary": $dark-grey,
  "light": $light-grey,
  "danger": $special-red,
);
$input-bg: white;
$primary: $dark-green;

$hover-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;

@import "./components/Sidebar.scss";
@import "./components/Help.scss";
@import "./components/Dashboard.scss";
@import "./components/IconButton.scss";
@import "./components/Login.scss";
//@import "./components/DataLoggingScheduler.scss";
@import "./components/DataLogs.scss";
@import "./components/ManageMeter.scss";
@import "./components/ManageUsers.scss";
@import "./components/ManageMeterModels.scss";


.date-picking-thing {
  background-color: white;
}
