@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Open+Sans&family=Pontano+Sans&display=swap");
@import "./App.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Antic Slab", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Pontano Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font: "Open Sans";
  font-size: 30px;
}

h2 {
  font: "Open Sans";
  font-size: 26px;
}

h3 {
  font: "Open Sans";
  font-size: 20px !important;
}
